@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  padding: $spacing-sm $spacing-md;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
  }

  @include respond(mobile) {
    padding: $spacing-xs $spacing-sm;
    font-size: 0.875rem;
  }
}

.primary {
  background: #0f0f0f;
  color: #ffffff;
}

.secondary {
  background: #0f0f0f;
  color: #ffffff;
}
