@import "./variables";
@import "./mixins";

@font-face {
  font-family: "Europa Grotesk SH";
  src: url("../assets/fonts/EuropaGroteskSH-DemBol.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue fat";
  src: url("../assets/fonts/HelveticaNeue-BlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-dark;
  background-color: $bg-dark;
}
