@import "../../styles/variables";
@import "../../styles/mixins";

.home {
  min-height: calc(100vh - 200px);
  padding: $spacing-lg;
  @include flex-center;
  flex-direction: column;
  gap: $spacing-md;

  @include respond(mobile) {
    padding: $spacing-md;
  }
}

.title {
  font-size: 3rem;
  color: $primary-color;
  text-align: center;

  @include respond(mobile) {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.25rem;
  color: $text-dark;
  text-align: center;
  max-width: 600px;

  @include respond(mobile) {
    font-size: 1rem;
  }
}

.buttonGroup {
  display: flex;
  gap: $spacing-md;
  margin-top: $spacing-md;

  @include respond(mobile) {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
}
