@import "../../styles/variables";
@import "../../styles/mixins";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  backdrop-filter: blur(4px);
}

.modalContent {
  background: #0f0f0f;
  border-radius: 16px;
  padding: 60px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.131);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
  text-align: center;
}

.messageContainer {
  margin-bottom: 24px;
  text-align: center;
}

.modalMessage {
  font-size: 1rem;
  color: #acacac;
  margin-bottom: 12px;

  strong {
    font-weight: 600;
    @include gradient-text;
  }
}

.modalWarning {
  font-size: 0.775rem;
  color: #ff8181;
  margin-bottom: 0;
}

.modalActions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.modalCancelButton,
.modalConfirmButton {
  padding: 12px 24px;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

.modalCancelButton {
  color: white;
  background: transparent;
  border: 2px solid #ffffff;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.modalConfirmButton {
  color: white;

  &.danger {
    background: #ff4444;

    &:hover {
      background: darken(#ff4444, 10%);
    }
  }

  &.primary {
    background: $linearBackground;

    &:hover {
      opacity: 0.9;
    }
  }

  &.light {
    background: white;
    color: #0f0f0f;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }
  }
}

.modalDisclaimer {
  font-size: 0.675rem;
  color: rgba(255, 255, 255, 0.402);
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
}
