@import "../../styles/variables";
@import "../../styles/mixins";

.notFound {
  min-height: calc(100vh - 200px);
  padding: $spacing-lg;
  @include flex-center;
  flex-direction: column;
  gap: $spacing-md;

  @include respond(mobile) {
    padding: $spacing-md;
  }
}

.title {
  font-size: 6rem;
  color: $primary-color;
  font-weight: bold;

  @include respond(mobile) {
    font-size: 4rem;
  }
}

.description {
  font-size: 1.25rem;
  color: $text-dark;
  text-align: center;
  margin-bottom: $spacing-md;

  @include respond(mobile) {
    font-size: 1rem;
  }
}
